.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
        "dialogs messages"
        ". message_area";
    padding: 10px;
}

.dialogs_items{
    padding: 10px;
    border-right: 1px solid gray;
    grid-area: dialogs;
}

.dialog a{
    text-decoration: none;
    color: white;
}

.dialog.active {
    color: lightseagreen;
}

.messages_items{
    grid-area: messages;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.send_message {
    grid-area: message_area;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border: 1px solid grey;
}

.send_message textarea {
    height: 100px;
    width: 100%;
}

.send_message button {
    height: 50px;
    width: 50px;
    border-radius: 30%;
    margin: 0 10px;
}